<div class="content-container">
  <p>{{training?.description}}</p>
  <p>Ihre Trainerin/Ihr Trainer: <b>{{training?.trainer?.name}}</b></p>
  <p>Vom <b>{{training?.startDate | date}}</b> bis zum <b>{{training?.endDate | date}}</b>.</p>
  <p></p>

  <h3>Bewertungen unseres {{training?.name}}-Trainings:</h3>
  <div class="bewertungs-card-container">
    @for (bewertung of training?.bewertungen; track bewertung.id) {
      <div class="bewertungs-card">
        <p class="stars">
          @if (bewertung.stars>0) {
            <mat-icon>star</mat-icon>
          }
          @if (bewertung.stars>1) {
            <mat-icon>star</mat-icon>
          }
          @if (bewertung.stars>2) {
            <mat-icon>star</mat-icon>
          }
          @if (bewertung.stars>3) {
            <mat-icon>star</mat-icon>
          }
          @if (bewertung.stars>4) {
            <mat-icon>star</mat-icon>
          }
        </p>
        <p>{{bewertung.comment}}</p>
        <p>von <b>{{bewertung.bewerter}}</b></p>
      </div>
    }
  </div>
</div>
