<h1 class="content-header">Unsere Trainingplatform</h1>

@if (bewertungDurchnitt?.(); as bewertung) {
  <div class="content-container">
    <div class="center">
      Unsere Durchschnittliche Bewertung:
      <p class="stars">
        @if (bewertung>0) {
          <mat-icon>
            {{bewertung > 0.8 ? 'star' : 'star_half'}}
          </mat-icon>
        }
        @if (bewertung>1) {
          <mat-icon>
            {{bewertung > 1.8 ? 'star' : 'star_half'}}
          </mat-icon>
        }
        @if (bewertung>2) {
          <mat-icon>
            {{bewertung > 2.8 ? 'star' : 'star_half'}}
          </mat-icon>
        }
        @if (bewertung>3) {
          <mat-icon>
            {{bewertung > 3.8 ? 'star' : 'star_half'}}
          </mat-icon>
        }
        @if (bewertung>4) {
          <mat-icon>
            {{bewertung > 4.8 ? 'star' : 'star_half'}}
          </mat-icon>
        }
      </p>
      <p><b>~{{bewertung | number:'1.0-1'}}</b></p>
    </div>
  </div>
}
