<div class="content-container">
  <h2>Eigene Bewertung abgeben</h2>
  <p></p>
  <div *ngIf="bewertungForm"
       [formGroup]="bewertungForm"
       class="bewertungs-card-container">
    <div class="bewertungs-card full">
      <lib-stars-input formControlName="stars">
      </lib-stars-input>
      <p></p>
      <p>
        <span>Kommentar: </span>
        <textarea formControlName="comment" style="resize: none; vertical-align: middle">
        </textarea>
      </p>
      <p></p>
      <p>
        <button (click)="emitBewertung.emit()"
                [disabled]="!bewertungForm.get('stars')?.value"
                color="primary"
                mat-raised-button>
          Absenden
        </button>
      </p>
    </div>
  </div>
</div>
